body {
    padding: 100px;
}

.submit-area {

    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

}

#login-area {
    display: none;
    /* temporily */
}

#transaction-area {
    /* display: none; */
    display: block;
    /* temporarily */
}

.deposite {

    border-radius: 10px;
    background-color: slateblue;
}

.withdraw {

    border-radius: 10px;
    background-color: lightsalmon;
}

.balance {

    border-radius: 10px;
    background-color: orange;
}

.margin-padding {
    margin: 0 10px;
    padding: 20px;
    color: white;
}